footer {
  margin-top: 60px;
  margin-bottom: 0px !important;
  bottom: 0px;
  width: 100%;
  position: absolute;
}
footer .row {
  margin-bottom: 0px;
}

.bottom-footer-bar-left {
  background-color: #2979ff;
  height: 20px;
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
  margin-top: 30px;
}
.bottom-footer-bar-right {
  background-color: #2979ff;
  height: 20px;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: 30px;
}

.shondhani-logo {
  width: 6%;
  margin-right: 27%;
}

.dbc-logo {
  width: 30%;
  margin-right: 24%;
}

.exhort-logo {
  width: 10%;
}
